<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Restaurant List</h2>
        <button (click)="addrestro()">Add Restaurant</button>
        <ul>
          <li *ngFor="let restro of restaurants">
            <h3>{{ restro.name }}</h3>
            <p>Location: {{ restro.location }}</p>
            <p>Type: {{ restro.type }}</p>
            <button (click)="removerestro(restro.id)">Remove Restaurant</button>
          </li>
        </ul>
      </div>

      <div>
        
    
      </div>
      
      
</body>
</html>